.generic-flex {
  display: flex;
  justify-content: center;
}

$text-align: center;

$margin : 0.8rem;

$padding : 0.5rem;

$align-item : center;

$border: 5px double black;

$text-decoration: none;

.button-submit {
  margin: 0.8rem;
  padding: 0.3rem;
}

.forms-container {
  width: 40vw;
  font-size: 1.2rem;
  margin: 2rem;
  padding: 0.5rem;
  border: 5px double black;
}

.label {
  display: inline-block;
  text-align: center;
  width: 15vw;
  margin: 0.8rem;
}