@use "modules/vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkgray;
}

.link-menu {
  padding: vars.$padding;
}

#login > ul li{
  display: inline-block;
}

ul {
  font-size: 1.5rem;
  text-align: vars.$text-align;
  padding: 1rem;
  a {
    text-decoration: none;
    color: #4a4a4b;
  }
}
/* Home */

h1 {
  color: #3f3f41;
  margin: vars.$margin;
  text-align: vars.$text-align ;
}

.home {
  padding: 1.2rem;
  background-color: #b9b5af;
}

#image-home {
  @extend .generic-flex;
  #img_home {
    margin: 5rem;
    height: 50vh;
  }
}
;
#container-link {
  @extend .generic-flex;

  #remove-link {
    font-size: 0.8rem;
    color: #6b6864;
    text-decoration: vars.$text-decoration;
  }
}

#container-link img {
  width: 9vw;
  height: 9vh;
  margin: 0.5rem;
}

.details-link {
  display: block;
  color: #3b3737;
}


/* Register */

#form-register {
  width: 40vw;
  font-size: 1.2rem;
  margin: 2rem;
  padding: vars.$padding;
  border: vars.$border;

  label {
    display: inline-block;
    text-align: vars.$text-align;
    width: 15vw;
    margin: vars.$margin;
  }

  input {
    height: 3vh;
    width: 24vw;
    margin-left: 0.4rem;
  }

  .submit {
    font-size: 1.2rem;
    width: 10vw;
    height: 5vh;
    margin: vars.$margin;
    padding: vars.$padding;
  }
}

/* Register link */

#form-addLink {
  width: 40vw;
  font-size: 1.2rem;
  margin: 2rem;
  padding: vars.$padding;
  border: vars.$border;

  label {
    display: inline-block;
    text-align: vars.$text-align;
    width: 15vw;
    margin: vars.$margin;
  }

  #btn-addLink {
    @extend .button-submit;
  }
}

/* Login */

#container-login {
  width: 40vw;
  font-size: 1.2rem;
  margin: 2rem;
  padding: vars.$padding;
  border: vars.$border;

  label {
    display: inline-block;
    text-align: vars.$text-align;
    width: 15vw;
    margin: vars.$margin;
  }

  .submit {
    @extend .button-submit;
  }
}

/* message */

.message-error, .message-success {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100vw;
  color: white;
  padding: 2rem;
  font-weight: bold;
}

.message-error {
  background-color: indianred;
}

.message-success {
  background-color: mediumaquamarine;
}

.message-error #close, .message-success #close {
  margin-left: 0.8rem;
  background: transparent;
  color: white;
  font-weight: bold;
  display: flex;
}

#close {
  border: none;
  width: 1rem;
}




